extends layout

block content

    .section#coming-soon
        .left
            img(src='/images/undraw_under_construction_46pa.svg').img
        .right
            h1.title working on it
            p.text
                |we know you're excited but it looks like construction isn't quite finished.