extends layout

block content

    .section#section-1
        .left
            h1.title connect with us
            p.text
                |our lightning fast mailman is ready to deliver us your info so we can help you with whatever you need.
            include ./includes/contact_form
        .right
            img(src="/images/undraw_Envelope_re_f5j4.svg").img