doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title=title
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css")
    body
        .section
            .left
                h1.title Oops
                p.text we know it's not your fault, but we seem to have hit a snag.
            .right
                img(src="/images/undraw_Notify_re_65on.svg").img