extends layout

block content

    .section#section-1
        .left
            h1.title starts with a dream
            p.text
                |everything starts with a dream, so what's ours?
                |we dream of a world where there are endless ways to customize and improve the stuff you own.
                |that's why we've dedicated ourselves to creating products that allow you to do just that.
                
            .push-right
                a(href='/coming-soon').link visit the store
        .right
            img(src='/images/undraw_dreamer_gxxi.svg').img

    .section#section-2
        .left
            img(src="/images/undraw_teamwork_hpdk.svg").img
        .right
            h1.title creative solutions
            p.text
                |our team is always looking for new and exciting ways to improve.
                |because of this our products just keep getting better and better.

    .section#section-3
        .left
            h1.title one size doesn't fit all
            p.text
                |we understand we can't think of everything.
                |that's why we ask for help from our customers.
                |if you can't seem to find what you're looking for, get in touch with us and we will do our best to get you exactly what you need.

            .push-right
                a(href='/contact').link get in touch
        .right
            img(src="/images/undraw_Chat_re_re1u.svg").img